POSTGRES_DB=emergencias_db
POSTGRES_USER=emergencias_user
POSTGRES_PASSWORD=emergencias_pass
POSTGRES_PORT=5432

API_PORT=8000
DATABASE_URL=postgresql+psycopg2://emergencias_user:emergencias_pass@db:5432/emergencias_db
JWT_SECRET_KEY=cambiar-esta-clave-en-produccion
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
# Firebase (NUEVO)
FIREBASE_CREDENTIALS_PATH=/app/firebase-service-account.json
# Stripe (modo prueba)
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
# Hugging Face API para las imagenes
HUGGINGFACE_API_TOKEN=hf_xxxxxxxxxxxxxxxxxxxx
