APP_NAME=Plataforma Emergencias API
APP_ENV=dev
DATABASE_URL=postgresql+psycopg2://emergencias_user:emergencias_pass@localhost:5432/emergencias_db
JWT_SECRET_KEY=cambiar-esta-clave-en-produccion
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
